[defaults]
inventory           = inventory/cluster.ini
host_key_checking   = False
stdout_callback     = yaml
callbacks_enabled   = timer, profile_tasks

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
